In [1]:
##importing all required libraries
from bs4 import BeautifulSoup
import pandas as pd
import requests 
import time

all_teams = [] ## list to store all teams

html = requests.get('https://fbref.com/en/comps/9/Premier-League-Stats').text ##getting the html from the website
soup = BeautifulSoup(html, 'lxml')
table = soup.find_all('table', class_ = 'stats_table')[0] ##only want the first table, therefore the first index

links = table.find_all('a') ## finding all links in the table 
links = [l.get("href") for l in links] ##parsing through links
links = [l for l in links if '/squads/' in l] ##filtering through links to only get squads

team_urls = [f"https://fbref.com{l}" for l in links] ## formatting back to links

for team_url in team_urls: 
    team_name = team_url.split("/")[-1].replace("-Stats", "") ##isolating the names of the teams
    data = requests.get(team_url).text
    soup = BeautifulSoup(data, 'lxml')
    stats = soup.find_all('table', class_ = "stats_table")[0] ##again, only want the first table

    if stats and stats.columns: stats.columns = stats.columns.droplevel() ##formatting the stats

    # Assuming 'team_data' is a BeautifulSoup Tag
    # Convert it into a DataFrame
    team_data = pd.read_html(str(stats))[0]
    team_data["Team"]= team_name
    all_teams.append(team_data) ## appending the data
    time.sleep(5) ## making sure we don't get blocked from scraping by delaying each loop by 5 seconds

stat_df = pd.concat(all_teams) ## concatenating all of the stats
stat_df.to_csv("stats.csv") ## importing to csv

/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]
/tmp/ipykernel_29135/2178680403.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  team_data = pd.read_html(str(stats))[0]

In [2]:
stat_df

        Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Player             Nation                Pos
0          Virgil van Dijk             nl NED                 DF
1            Mohamed Salah             eg EGY                 FW
2         Ryan Gravenberch             nl NED                 MF
3   Trent Alexander-Arnold            eng ENG                 DF
4      Alexis Mac Allister             ar ARG                 MF
..                     ...                ...                ...
32          Ronnie Edwards            eng ENG                 DF
33          Carlos Alcaraz             ar ARG                 MF
34   Joe O'Brien-Whitmarsh             ie IRL                 FW
35             Squad Total                NaN                NaN
36          Opponent Total                NaN                NaN

   Unnamed: 3_level_0 Unnamed: 4_level_0 Playing Time                \
                  Age                 MP       Starts     Min   90s
0              33-258               29.0           29  2610.0  29.0
1              32-281               29.0           29  2568.0  28.5
2              22-311               29.0           29  2471.0  27.5
3              26-167               28.0           26  2145.0  23.8
4              26-089               28.0           25  2111.0  23.5
..                ...                ...          ...     ...   ...
32             21-360                NaN            0    12.0   0.1
33             22-113                NaN            0    10.0   0.1
34                NaN                NaN            0     NaN   NaN
35               26.0                NaN          319  2610.0  29.0
36               26.7                NaN          319  2610.0  29.0

   Performance        ... Per 90 Minutes                                  \
           Gls   Ast  ...           G-PK G+A-PK    xG   xAG xG+xAG  npxG
0          1.0   1.0  ...           0.03   0.07  0.05  0.02   0.07  0.05
1         27.0  17.0  ...           0.63   1.23  0.77  0.39   1.16  0.52
2          0.0   2.0  ...           0.00   0.07  0.03  0.10   0.13  0.03
3          2.0   6.0  ...           0.08   0.34  0.07  0.28   0.35  0.07
4          3.0   3.0  ...           0.13   0.26  0.10  0.15   0.25  0.10
..         ...   ...  ...            ...    ...   ...   ...    ...   ...
32         0.0   0.0  ...           0.00   0.00  0.00  0.00   0.00  0.00
33         0.0   0.0  ...           0.00   0.00  0.62  0.86   1.48  0.62
34         NaN   NaN  ...            NaN    NaN   NaN   NaN    NaN   NaN
35        20.0  12.0  ...           0.69   1.10  0.93  0.70   1.63  0.87
36        70.0  49.0  ...           2.21   3.90  2.33  1.73   4.06  2.18

            Unnamed: 33_level_0         Team Playing Time
   npxG+xAG             Matches                        MP
0      0.07             Matches    Liverpool          NaN
1      0.92             Matches    Liverpool          NaN
2      0.13             Matches    Liverpool          NaN
3      0.35             Matches    Liverpool          NaN
4      0.25             Matches    Liverpool          NaN
..      ...                 ...          ...          ...
32     0.00             Matches  Southampton          1.0
33     1.48             Matches  Southampton          1.0
34      NaN             Matches  Southampton          0.0
35     1.57                 NaN  Southampton         29.0
36     3.91                 NaN  Southampton         29.0

[718 rows x 36 columns]

In [21]:
import pandas as pd

# Assuming stat_df is your DataFrame
# If the columns are a MultiIndex, take the second level (index 1)
if isinstance(stat_df.columns, pd.MultiIndex):
    # Extract the second level of the MultiIndex
    stat_df.columns = stat_df.columns.get_level_values(1)
else:
    # If not a MultiIndex, we might need to adjust based on how it was loaded
    print("Columns are not a MultiIndex, checking raw columns...")
    print(stat_df.columns)

# Check the columns after flattening
print(stat_df.columns)

Columns are not a MultiIndex, checking raw columns...
Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_MP', 'Playing Time_Starts', 'Playing Time_Min',
       'Playing Time_90s', 'Performance_Gls', 'Performance_Ast',
       'Performance_G+A', 'Performance_G-PK', 'Performance_PK',
       'Performance_PKatt', 'Performance_CrdY', 'Performance_CrdR',
       'Expected_xG', 'Expected_npxG', 'Expected_xAG', 'Expected_npxG+xAG',
       'Progression_PrgC', 'Progression_PrgP', 'Progression_PrgR',
       'Per 90 Minutes_Gls', 'Per 90 Minutes_Ast', 'Per 90 Minutes_G+A',
       'Per 90 Minutes_G-PK', 'Per 90 Minutes_G+A-PK', 'Per 90 Minutes_xG',
       'Per 90 Minutes_xAG', 'Per 90 Minutes_xG+xAG', 'Per 90 Minutes_npxG',
       'Per 90 Minutes_npxG+xAG', 'Unnamed: 33_level_0_Matches', 'Team_',
       'Playing Time_MP'],
      dtype='object')
Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_MP', 'Playing Time_Starts', 'Playing Time_Min',
       'Playing Time_90s', 'Performance_Gls', 'Performance_Ast',
       'Performance_G+A', 'Performance_G-PK', 'Performance_PK',
       'Performance_PKatt', 'Performance_CrdY', 'Performance_CrdR',
       'Expected_xG', 'Expected_npxG', 'Expected_xAG', 'Expected_npxG+xAG',
       'Progression_PrgC', 'Progression_PrgP', 'Progression_PrgR',
       'Per 90 Minutes_Gls', 'Per 90 Minutes_Ast', 'Per 90 Minutes_G+A',
       'Per 90 Minutes_G-PK', 'Per 90 Minutes_G+A-PK', 'Per 90 Minutes_xG',
       'Per 90 Minutes_xAG', 'Per 90 Minutes_xG+xAG', 'Per 90 Minutes_npxG',
       'Per 90 Minutes_npxG+xAG', 'Unnamed: 33_level_0_Matches', 'Team_',
       'Playing Time_MP'],
      dtype='object')

In [22]:
# Define the column mapping using the actual column names in stat_df
column_mapping = {
    'Unnamed: 0_level_0_Player': 'player_name',
    'Unnamed: 1_level_0_Nation': 'nation',
    'Unnamed: 2_level_0_Pos': 'position',
    'Unnamed: 3_level_0_Age': 'age',
    'Unnamed: 4_level_0_MP': 'matches_played',
    'Playing Time_Starts': 'starts',
    'Playing Time_Min': 'minutes_played',
    'Performance_Gls': 'goals',
    'Performance_Ast': 'assists',
    'Performance_PK': 'penalties_scored',
    'Performance_CrdY': 'yellow_cards',
    'Performance_CrdR': 'red_cards',
    'Expected_xG': 'expected_goals',
    'Expected_xAG': 'expected_assists',
    'Team_': 'team_name'
}

# Rename columns
stat_df = stat_df.rename(columns=column_mapping)

# Check the renamed columns
print(stat_df.columns)

Index(['player_name', 'nation', 'position', 'age', 'matches_played', 'starts',
       'minutes_played', 'Playing Time_90s', 'goals', 'assists',
       'Performance_G+A', 'Performance_G-PK', 'penalties_scored',
       'Performance_PKatt', 'yellow_cards', 'red_cards', 'expected_goals',
       'Expected_npxG', 'expected_assists', 'Expected_npxG+xAG',
       'Progression_PrgC', 'Progression_PrgP', 'Progression_PrgR',
       'Per 90 Minutes_Gls', 'Per 90 Minutes_Ast', 'Per 90 Minutes_G+A',
       'Per 90 Minutes_G-PK', 'Per 90 Minutes_G+A-PK', 'Per 90 Minutes_xG',
       'Per 90 Minutes_xAG', 'Per 90 Minutes_xG+xAG', 'Per 90 Minutes_npxG',
       'Per 90 Minutes_npxG+xAG', 'Unnamed: 33_level_0_Matches', 'team_name',
       'Playing Time_MP'],
      dtype='object')

In [23]:
# List of columns in your table
required_columns = [
    'player_name', 'nation', 'position', 'age', 'matches_played', 'starts', 
    'minutes_played', 'goals', 'assists', 'penalties_scored', 'yellow_cards', 
    'red_cards', 'expected_goals', 'expected_assists', 'team_name'
]

# Keep only these columns
stat_df = stat_df[required_columns]

# Check the DataFrame
print(stat_df.head())

              player_name   nation position     age  matches_played  starts  \
0         Virgil van Dijk   nl NED       DF  33-258            29.0      29
1           Mohamed Salah   eg EGY       FW  32-281            29.0      29
2        Ryan Gravenberch   nl NED       MF  22-311            29.0      29
3  Trent Alexander-Arnold  eng ENG       DF  26-167            28.0      26
4     Alexis Mac Allister   ar ARG       MF  26-089            28.0      25

   minutes_played  goals  assists  penalties_scored  yellow_cards  red_cards  \
0          2610.0    1.0      1.0               0.0           3.0        0.0
1          2568.0   27.0     17.0               9.0           1.0        0.0
2          2471.0    0.0      2.0               0.0           5.0        0.0
3          2145.0    2.0      6.0               0.0           4.0        0.0
4          2111.0    3.0      3.0               0.0           6.0        0.0

   expected_goals  expected_assists  team_name
0             1.6               0.5  Liverpool
1            22.0              11.2  Liverpool
2             0.9               2.8  Liverpool
3             1.6               6.7  Liverpool
4             2.3               3.6  Liverpool

In [24]:
# Replace NaN with None (Postgres NULL)
stat_df = stat_df.where(pd.notnull(stat_df), None)

# Convert data types
stat_df['age'] = stat_df['age'].astype(str)  # Keep as string for now (e.g., "33-258")
stat_df['matches_played'] = stat_df['matches_played'].astype(float, errors='ignore')
stat_df['starts'] = stat_df['starts'].astype(int, errors='ignore')
stat_df['minutes_played'] = stat_df['minutes_played'].astype(float, errors='ignore')
stat_df['goals'] = stat_df['goals'].astype(float, errors='ignore')
stat_df['assists'] = stat_df['assists'].astype(float, errors='ignore')
stat_df['penalties_scored'] = stat_df['penalties_scored'].astype(float, errors='ignore')
stat_df['yellow_cards'] = stat_df['yellow_cards'].astype(float, errors='ignore')
stat_df['red_cards'] = stat_df['red_cards'].astype(float, errors='ignore')
stat_df['expected_goals'] = stat_df['expected_goals'].astype(float, errors='ignore')
stat_df['expected_assists'] = stat_df['expected_assists'].astype(float, errors='ignore')

# Check the cleaned data
print(stat_df.dtypes)
print(stat_df.head())

player_name          object
nation               object
position             object
age                  object
matches_played      float64
starts                int64
minutes_played      float64
goals               float64
assists             float64
penalties_scored    float64
yellow_cards        float64
red_cards           float64
expected_goals      float64
expected_assists    float64
team_name            object
dtype: object
              player_name   nation position     age  matches_played  starts  \
0         Virgil van Dijk   nl NED       DF  33-258            29.0      29
1           Mohamed Salah   eg EGY       FW  32-281            29.0      29
2        Ryan Gravenberch   nl NED       MF  22-311            29.0      29
3  Trent Alexander-Arnold  eng ENG       DF  26-167            28.0      26
4     Alexis Mac Allister   ar ARG       MF  26-089            28.0      25

   minutes_played  goals  assists  penalties_scored  yellow_cards  red_cards  \
0          2610.0    1.0      1.0               0.0           3.0        0.0
1          2568.0   27.0     17.0               9.0           1.0        0.0
2          2471.0    0.0      2.0               0.0           5.0        0.0
3          2145.0    2.0      6.0               0.0           4.0        0.0
4          2111.0    3.0      3.0               0.0           6.0        0.0

   expected_goals  expected_assists  team_name
0             1.6               0.5  Liverpool
1            22.0              11.2  Liverpool
2             0.9               2.8  Liverpool
3             1.6               6.7  Liverpool
4             2.3               3.6  Liverpool

In [25]:
stat_df = stat_df[stat_df['player_name'].notna() & 
                  ~stat_df['player_name'].isin(['Squad Total', 'Opponent Total'])]

In [28]:
stat_df

,player_name,nation,position,age,matches_played,starts,minutes_played,goals,assists,penalties_scored,yellow_cards,red_cards,expected_goals,expected_assists,team_name
0,Virgil van Dijk,nl NED,DF,33,29.0,29,2610.0,1.0,1.0,0.0,3.0,0.0,1.6,0.5,Liverpool
1,Mohamed Salah,eg EGY,FW,32,29.0,29,2568.0,27.0,17.0,9.0,1.0,0.0,22.0,11.2,Liverpool
2,Ryan Gravenberch,nl NED,MF,22,29.0,29,2471.0,0.0,2.0,0.0,5.0,0.0,0.9,2.8,Liverpool
3,Trent Alexander-Arnold,eng ENG,DF,26,28.0,26,2145.0,2.0,6.0,0.0,4.0,0.0,1.6,6.7,Liverpool
4,Alexis Mac Allister,ar ARG,MF,26,28.0,25,2111.0,3.0,3.0,0.0,6.0,0.0,2.3,3.6,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Samuel Edozie,eng ENG,"DF,FW",22,NaN,0,65.0,0.0,0.0,0.0,1.0,0.0,0.0,0.1,Southampton
31,Samuel Amo-Ameyaw,eng ENG,"FW,DF",18,NaN,0,28.0,0.0,0.0,0.0,1.0,0.0,0.0,0.1,Southampton
32,Ronnie Edwards,eng ENG,DF,21,NaN,0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Southampton
33,Carlos Alcaraz,ar ARG,MF,22,NaN,0,10.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,Southampton
34,Joe O'Brien-Whitmarsh,ie IRL,FW,None,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southampton

In [27]:
stat_df['age'] = stat_df['age'].str.split('-').str[0].astype(int, errors='ignore')

In [32]:
# from sqlalchemy import create_engine

# # Connect to Postgres
# engine = create_engine('postgresql://postgres@localhost:5432/football')

# # Write to table
# stat_df.to_sql('player_static', engine, if_exists='append', index=False)

In [40]:
# Define the table's column order
table_columns = [
    'red_cards', 'expected_goals', 'expected_assists', 'age', 'matches_played', 'starts', 
    'minutes_played', 'goals', 'assists', 'penalties_scored', 'yellow_cards', 'team_name', 
    'nation', 'position', 'player_name'
]

# Reorder stat_df
stat_df = stat_df[table_columns]

# Verify the order
print(stat_df.columns)

Index(['red_cards', 'expected_goals', 'expected_assists', 'age',
       'matches_played', 'starts', 'minutes_played', 'goals', 'assists',
       'penalties_scored', 'yellow_cards', 'team_name', 'nation', 'position',
       'player_name'],
      dtype='object')

In [38]:
# Ensure integer columns are integers
integer_columns = ['age', 'matches_played', 'starts']
for col in integer_columns:
    # Convert to string first to handle all cases
    stat_df[col] = stat_df[col].astype(str)
    
    # For age, extract the first part (e.g., "33-258" -> "33")
    if col == 'age':
        stat_df[col] = stat_df[col].str.split('-').str[0]
    
    # Replace 'None', 'nan', or empty strings with 0
    stat_df[col] = stat_df[col].replace(['None', 'nan', ''], 0)
    
    # Convert to float first (to handle any remaining decimals), then to int
    stat_df[col] = stat_df[col].astype(float).fillna(0).astype(int)

# Ensure float columns are floats (double precision in Postgres)
float_columns = ['minutes_played', 'goals', 'assists', 'penalties_scored', 'yellow_cards', 
                 'red_cards', 'expected_goals', 'expected_assists']
for col in float_columns:
    stat_df[col] = stat_df[col].astype(float).fillna(0.0)

# Ensure string columns are strings
string_columns = ['player_name', 'nation', 'position', 'team_name']
for col in string_columns:
    stat_df[col] = stat_df[col].astype(str)

# Verify the data types
print(stat_df.dtypes)
print(stat_df.head())

red_cards           float64
expected_goals      float64
expected_assists    float64
age                   int64
matches_played        int64
starts                int64
minutes_played      float64
goals               float64
assists             float64
penalties_scored    float64
yellow_cards        float64
team_name            object
nation               object
position             object
player_name          object
dtype: object
   red_cards  expected_goals  expected_assists  age  matches_played  starts  \
0        0.0             1.6               0.5   33              29      29
1        0.0            22.0              11.2   32              29      29
2        0.0             0.9               2.8   22              29      29
3        0.0             1.6               6.7   26              28      26
4        0.0             2.3               3.6   26              28      25

   minutes_played  goals  assists  penalties_scored  yellow_cards  team_name  \
0          2610.0    1.0      1.0               0.0           3.0  Liverpool
1          2568.0   27.0     17.0               9.0           1.0  Liverpool
2          2471.0    0.0      2.0               0.0           5.0  Liverpool
3          2145.0    2.0      6.0               0.0           4.0  Liverpool
4          2111.0    3.0      3.0               0.0           6.0  Liverpool

    nation position             player_name
0   nl NED       DF         Virgil van Dijk
1   eg EGY       FW           Mohamed Salah
2   nl NED       MF        Ryan Gravenberch
3  eng ENG       DF  Trent Alexander-Arnold
4   ar ARG       MF     Alexis Mac Allister

In [43]:
table_columns = [
    'player_name', 'nation', 'position', 'age', 'matches_played', 'starts', 
    'minutes_played', 'goals', 'assists', 'penalties_scored', 'yellow_cards', 
    'red_cards', 'expected_goals', 'expected_assists', 'team_name'
]

stat_df = stat_df[table_columns]

In [44]:
stat_df

,player_name,nation,position,age,matches_played,starts,minutes_played,goals,assists,penalties_scored,yellow_cards,red_cards,expected_goals,expected_assists,team_name
0,Virgil van Dijk,nl NED,DF,33,29,29,2610.0,1.0,1.0,0.0,3.0,0.0,1.6,0.5,Liverpool
1,Mohamed Salah,eg EGY,FW,32,29,29,2568.0,27.0,17.0,9.0,1.0,0.0,22.0,11.2,Liverpool
2,Ryan Gravenberch,nl NED,MF,22,29,29,2471.0,0.0,2.0,0.0,5.0,0.0,0.9,2.8,Liverpool
3,Trent Alexander-Arnold,eng ENG,DF,26,28,26,2145.0,2.0,6.0,0.0,4.0,0.0,1.6,6.7,Liverpool
4,Alexis Mac Allister,ar ARG,MF,26,28,25,2111.0,3.0,3.0,0.0,6.0,0.0,2.3,3.6,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Samuel Edozie,eng ENG,"DF,FW",22,0,0,65.0,0.0,0.0,0.0,1.0,0.0,0.0,0.1,Southampton
31,Samuel Amo-Ameyaw,eng ENG,"FW,DF",18,0,0,28.0,0.0,0.0,0.0,1.0,0.0,0.0,0.1,Southampton
32,Ronnie Edwards,eng ENG,DF,21,0,0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Southampton
33,Carlos Alcaraz,ar ARG,MF,22,0,0,10.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1,Southampton
34,Joe O'Brien-Whitmarsh,ie IRL,FW,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Southampton

In [45]:
# Save to CSV without the index
stat_df.to_csv('/home/gathu/Documents/miscellenious/emtechtests/stats.csv', index=False)